Thanks to Tom Augspurger and Andrew Therriault

Delegate selection rules are from the [Iowa Delegate Selection Plan](https://acc99235-748f-4706-80f5-4b87384c1fb7.filesusr.com/ugd/5af8f4_2618217ea4384df5822b5eb004672c84.pdf) and the [DNC 2020 Delegate Selection Rules](https://democrats.org/wp-content/uploads/2019/01/2020-Delegate-Selection-Rules-12.17.18-FINAL.pdf)

The Green Papers has a [full precise methodology](https://www.thegreenpapers.com/P20/IA-D) of the delegate allocation procedure [math explained here](https://www.thegreenpapers.com/P20/D-Math.phtml). I'm a little suspicious, the rules seem to indicate delegates for non-viable candidates at the district conventions get to move around though.

In [71]:
import pandas as pd
import state
import importlib
importlib.reload(state)
from state import Iowa

In [33]:
from state import allocate_delegates

In [72]:
ia = Iowa()

In [4]:
ia.display_results()

             First     %  Final     %  Total S.D.E.s     %
candidate
Sanders      43699  24.7  45842  26.5            561  26.1
Buttigieg    37596  21.3  43274  25.1            564  26.2
Warren       32611  18.5  34934  20.2            388  18.1
Biden        26322  14.9  23630  13.7            339  15.8
Klobuchar    22474  12.7  21121  12.2            263  12.3
Yang          8929   5.1   1759   1.0             21   1.0
Uncommitted   1000   0.6   1451   0.8              3   0.2
Steyer        3054   1.7    413   0.2              6   0.3
Other          159   0.1    205   0.1              0   0.0
Bloomberg      215   0.1     20   0.0              0   0.0
Gabbard        342   0.2     16   0.0              0   0.0
Bennet         164   0.1      4   0.0              0   0.0
Delaney          0   0.0      0   0.0              0   0.0
Patrick          9   0.0      0   0.0              0   0.0

In [5]:
ia.sdes

candidate
Buttigieg      564.3024
Sanders        561.5283
Warren         388.4803
Biden          339.6782
Klobuchar      263.8834
Yang            21.8559
Steyer           6.6189
Uncommitted      3.7321
Other            0.6931
Bloomberg        0.2096
Gabbard          0.1143
Patrick          0.0000
Delaney          0.0000
Bennet           0.0000
dtype: float64

## Delegates

### State-level delegates

Iowa is allotted 5 pledged Party Leader and Elected Official (PLEO) delegates. The pledged PLEO slots shall be allocated among presidential preferences on
the same basis as the at-large delegates. The state of Iowa is allotted 9 at-large delegates.  The 9 at-large delegates will be nominated with an apportionment based on the division of presidential preference from the caucuses.  Preferences which have not attained a 15% threshold on a state-wide basis
shall not be entitled to any at-large delegates.

In [82]:
ia.sdes

candidate
Buttigieg      564.0124
Sanders        562.4973
Warren         387.0687
Biden          341.1716
Klobuchar      264.2038
Yang            22.2226
Steyer           6.7389
Uncommitted      3.9571
Other            0.6931
Bloomberg        0.2096
Gabbard          0.1143
Patrick          0.0000
Delaney          0.0000
Bennet           0.0000
dtype: float64

In [245]:
ia.viability_threshold(ia.sdes.sum())

323

In [246]:
ia.viable_sdes

candidate
Buttigieg    564.3024
Sanders      561.5283
Warren       388.4803
Biden        339.6782
dtype: float64

State-level delegates are allocated by the state-wide SDE percentage breakdown among the viable candidates.

In [247]:
ia.viable_sdes / ia.viable_sdes.sum() * 100

candidate
Buttigieg    30.437200
Sanders      30.287571
Warren       20.953752
Biden        18.321477
dtype: float64

The 5 PLEO delegates are allocated separately from the 9 at-large delegates.

In [251]:
ia.display_state_dels()

,%,PLEO Delegates (unrounded),PLEO Delegates,At-Large Delegates (unrounded),At-Large Delegates,Delegates
candidate,,,,,,
Buttigieg,30.437200,1.521860,2,2.739348,3,5
Sanders,30.287571,1.514379,1,2.725881,3,4
Warren,20.953752,1.047688,1,1.885838,2,3
Biden,18.321477,0.916074,1,1.648933,1,2

The result is that Buttigieg gets 5 state-wide delegates, Sanders 4, Warren 3, and Biden 2.

In [252]:
ia.state_dels

candidate
Buttigieg    5
Sanders      4
Warren       3
Biden        2
Name: Delegates, dtype: int64

### District-level delegates

Iowa is allocated 27 district-level delegates and 4 district-level alternates. District-level delegates and alternates shall be allocated to presidential preference
groups through a proportional representation system based on precinct caucuses and in-state satellite caucuses and will be elected by preference group delegations
at the district convention. The national convention delegates elected at the district level shall be allocated in proportion to the percentage of the state delegate equivalents won in that district by each preference at the first determining step, except that preferences falling below a 15% threshold shall not be awarded any
delegates or alternates \[That means the district-level delegates are allocated by the precinct caucus percentages\].  Delegates in groups that are declared not viable shall have a reasonable time, as determined by the rules adopted by the convention, in which to realign with a viable preference groupy  \[They are allowed to vote to choose the delegate but realignment does not change the allocation of delegates\].

At the time of registration, delegates must align with the same preference group that elected them at the county convention or selected them by virtue of the
satellite caucus. For purposes of this section any presidential preference group or uncommitted which failed to obtain 15% of the total number of delegates from the caucuses shall be declared nonviable. Only delegates in groups that are declared not viable shall have a reasonable time, as determined by the rules adopted by the state convention, in which to realign with a viable preference group. 

From the national rules: States shall allocate district-level delegates and alternates in proportion to the percentage of the primary or caucus vote
won in that district by each preference, except that preferences falling below a fifteen percent (15%) threshold shall not be awarded any delegates. No state shall have a threshold above or below fifteen percent (15%) (excepting: In all situations where no preference reaches the applicable threshold, the threshold shall be half the percentage of the vote received at each level of the delegate selection process by the front-runner). States which use a caucus/convention system, shall specify in their Delegate Selection Plans the caucus level at which such percentages shall be determined.

There are 102 counties and 4 district satellite caucuses in Iowa.

In [89]:
ia.counties

            COUNTY  DISTRICT POPULATION
0        Allamakee       1.0     14,330
1           Benton       1.0     26,076
2       Black Hawk       1.0    131,090
3           Bremer       1.0     24,276
4         Buchanan       1.0     20,958
..             ...       ...        ...
102         Wright       4.0     13,229
103  CD1 Satellite       1.0          0
104  CD2 Satellite       2.0          0
105  CD3 Satellite       3.0          0
106  CD4 Satellite       4.0          0

[107 rows x 3 columns]

In [190]:
ia.counties.groupby('DISTRICT').count().COUNTY

DISTRICT
1.0    21
2.0    25
3.0    17
4.0    40
Name: COUNTY, dtype: int64

The candidate delegates chosen at the precinct caucuses going to each of the four district conventions:

In [253]:
ia.display_dist_sdes(rounding=False)

                    1         2         3         4
candidate
Buttigieg    148.6900  143.3744  164.3639  107.1030
Sanders      145.6565  157.6627  157.8390   99.8063
Biden        101.9733   72.9128   92.7255   71.3600
Warren        95.0184  112.6642  120.0298   59.8890
Klobuchar     67.1301   58.4335   70.1890   67.0645
Yang           4.2116    7.9320    3.8020    5.8887
Steyer         2.3327    0.7516    0.7567    2.7779
Uncommitted    1.6541    0.2672    0.8394    0.9714
Bennet         0.0000    0.0000    0.0000    0.0000
Bloomberg      0.0000    0.0000    0.0000    0.1759
Delaney        0.0000    0.0000    0.0000    0.0000
Gabbard        0.0000    0.1143    0.0000    0.0000
Other          0.0000    0.4133    0.2798    0.0000
Patrick        0.0000    0.0000    0.0000    0.0000

Each district has a different viability threshold

In [212]:
ia.display_dist_sdes(rounding=False).sum(axis=0).apply(ia.viability_threshold)

1    85
2    84
3    92
4    63
dtype: int64

Looking only at the viable candidates for each district:

In [35]:
ia.display_dist_sdes(rounding=False, viable=True)

                  1         2         3         4
Buttigieg  148.6900  143.3744  164.3639  107.1030
Sanders    145.6565  157.6627  157.8390   99.8063
Biden      101.9733       NaN   92.7255   71.3600
Warren      95.0184  112.6642  120.0298       NaN
Klobuchar       NaN       NaN       NaN   67.0645

As percentages:

In [36]:
ia.display_dist_sdes(rounding=False, viable=True) / ia.display_dist_sdes(rounding=False, viable=True).sum() * 100

                   1          2          3          4
Buttigieg  30.262251  34.656502  30.724625  31.014340
Sanders    29.644856  38.110274  29.504922  28.901399
Biden      20.754197        NaN  17.333223  20.664065
Warren     19.338696  27.233224  22.437230        NaN
Klobuchar        NaN        NaN        NaN  19.420196

Here are the numbers of delegates each congressional district sends to the National Convention:

In [37]:
ia.dist_del_count.District

0    1
1    2
2    3
3    4
Name: District, dtype: int64

In [41]:
ia.dist_dels

           1  2  3  4
Buttigieg  2  2  3  2
Sanders    2  3  2  1
Biden      2  0  1  1
Warren     1  2  2  0
Klobuchar  0  0  0  1

In [31]:


pd.concat([allocate_delegates(ia.display_dist_sdes(rounding=False)[i], ia.dist_dels.query(f'District == {i}').Delegates.iloc[0])
 for i in ia.dist_dels.District], axis=1, sort=False).fillna(0).astype(int)

           1  2  3  4
Buttigieg  2  2  3  2
Sanders    2  3  2  1
Biden      2  0  1  1
Warren     1  2  2  0
Klobuchar  0  0  0  1

Allocating the delegates:

In [44]:
ia.display_dist_dels()

           1  2  3  4  Total
Buttigieg  2  2  3  2      9
Sanders    2  3  2  1      8
Biden      2  0  1  1      4
Warren     1  2  2  0      5
Klobuchar  0  0  0  1      1

In [67]:
ia.dist_sdes.sum()

1    566.6667
2    554.5260
3    610.8251
4    415.0367
dtype: float64

In [73]:
ia.display_all_dels()

,%,PLEO Delegates (unrounded),PLEO Delegates,At-Large Delegates (unrounded),At-Large Delegates,State-Level Delegates,1,2,3,4,District Delegates,Total
candidate,,,,,,,,,,,,
Buttigieg,30.437200,1.521860,2,2.739348,3,5,2,2,3,2,9,14
Sanders,30.287571,1.514379,1,2.725881,3,4,2,3,2,1,8,12
Warren,20.953752,1.047688,1,1.885838,2,3,1,2,2,0,5,8
Biden,18.321477,0.916074,1,1.648933,1,2,2,0,1,1,4,6

In [74]:
ia.all_dels

Buttigieg    14
Sanders      12
Warren        8
Biden         6
Klobuchar     1
dtype: int64

## Convention

In [45]:
from convention import Convention

In [46]:
c = Convention()

In [47]:
c.delegate_allocation[c.delegate_allocation.State == 'Iowa']

,State,Pledged,Total,Pledged PLEOs,Unpledged PLEOs,District,At Large,notes
18,Iowa,41.0,49,5,8,27,9,

In [344]:
import numpy as np
df[df.State=='Unassigned']

,Rank,State,Pledged,Unpledged,Total,Details of Allocation,Pledged PLEOs,Unpledged PLEOs,District,At Large
49,50,Unassigned,NaN,5,5,5 Unpledged PLEOs (who must be DNC members),0,5,0,0

In [345]:
df['notes'] = ["must be DNC members" if x == 'Unassigned' else '' for x in df.State]

In [350]:
df = df.drop(columns=['Unpledged','Details of Allocation','Rank']).fillna(0)

In [351]:
df

,State,Pledged,Total,Pledged PLEOs,Unpledged PLEOs,District,At Large,notes
0,Alabama,52.0,61,7,9,34,11,
1,Alaska,15.0,19,2,4,9,4,
2,American Samoa,6.0,11,0,5,0,6,
3,Arizona,67.0,79,9,12,44,14,
4,Arkansas,31.0,36,4,5,20,7,
5,California,415.0,494,54,79,271,90,
6,Colorado,67.0,80,9,13,44,14,
7,Connecticut,60.0,74,6,14,40,14,
8,Delaware,21.0,33,2,12,14,5,
9,Democrats Abroad,13.0,17,1,4,0,12,
10,District of Columbia,20.0,46,2,26,13,5,
11,Florida,219.0,248,29,29,143,47,
12,Georgia,105.0,120,14,15,68,23,
13,Guam,7.0,12,0,5,0,7,
14,Hawaii,24.0,33,3,9,15,6,
15,Idaho,20.0,25,3,5,13,4,
16,Illinois,155.0,184,20,29,101,34,
17,Indiana,82.0,89,9,7,55,18,
18,Iowa,41.0,49,5,8,27,9,
19,Kansas,39.0,45,4,6,26,9,
20,Kentucky,54.0,60,6,6,36,12,
21,Louisiana,54.0,61,7,7,35,12,
22,Maine,24.0,32,3,8,16,5,
23,Maryland,96.0,119,10,23,65,21,
24,Massachusetts,91.0,114,12,23,59,20,
25,Michigan,125.0,147,16,22,82,27,
26,Minnesota,75.0,91,10,16,49,16,
27,Mississippi,36.0,41,5,5,23,8,
28,Missouri,68.0,78,9,10,44,15,
29,Montana,19.0,25,2,6,13,4,
30,Nebraska,29.0,33,3,4,20,6,
31,Nevada,36.0,48,5,12,23,8,
32,New Hampshire,24.0,33,3,9,16,5,
33,New Jersey,126.0,147,14,21,84,28,
34,New Mexico,34.0,45,4,11,23,7,
35,New York,274.0,320,29,46,184,61,
36,North Carolina,110.0,122,14,12,72,24,
37,North Dakota,14.0,18,2,4,9,3,
38,Northern Marianas,6.0,11,0,5,0,6,
39,Ohio,136.0,153,18,17,89,29,
40,Oklahoma,37.0,42,5,5,24,8,
41,Oregon,61.0,75,7,14,41,13,
42,Pennsylvania,186.0,210,20,24,125,41,
43,Puerto Rico,51.0,58,7,7,33,11,
44,Rhode Island,26.0,36,3,10,18,5,
45,South Carolina,54.0,63,7,9,35,12,
46,South Dakota,16.0,21,2,5,10,4,
47,Tennessee,64.0,73,8,9,42,14,
48,Texas,228.0,261,30,33,149,49,
49,Unassigned,0.0,5,0,5,0,0,must be DNC members
50,Utah,29.0,35,4,6,19,6,
51,Vermont,16.0,24,2,8,11,3,
52,Virgin Islands,7.0,13,0,6,0,7,
53,Virginia,99.0,124,13,25,65,21,
54,Washington,89.0,108,12,19,58,19,
55,West Virginia,28.0,34,3,6,19,6,
56,Wisconsin,84.0,97,10,13,55,19,
57,Wyoming,14.0,18,2,4,0,12,
58,Convention,3979.0,4750,490,771,2583,906,